{% extends 'base.html'%}
{% load static %}
{% block content%}

    


    <div class="hero-v1">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mr-auto text-center text-lg-left">
            <span class="d-block subheading">Przeglądaj dane</span>
            <h1 class="heading mb-3">Główna podstrona dla regionów</h1>
            <p class="mb-5">Wybierz region i eksploruj dane na poziomie województw</p>
            <p class="mb-4"><a href="#" class="btn btn-primary">Otwórz dane w arkuszu</a></p>



          </div>
          <div class="col-lg-6">
            <figure class="illustration-2">
              <img src="{% static 'images/protect.png' %}" alt="Image" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-6"></div>
        </div>
      </div>
    </div>


    <!-- MAIN -->
    
    <div class="site-section">
      <div class="container">
        <div class="row mb-3">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading">Eksploruj dane na interaktywnych mapach</h2>
            <p>Mapy oraz wykresy pokazujące sytuacje epidemiczną w województwach w kategoriach:</p>
          </div>
        </div>
        <div class="row"> 
          <div class="col-lg-4">
            <div class="data">
              <img class="img-icon" src= "{% static 'images/svg/018-coronavirus.svg' %}" alt="Image">
              <p></p>
              <p><a href="{% url 'case_map' %}" class="btn btn-primary">Zachorowania</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="data">
              <img class="img-icon" src= "{% static 'images/svg/020-ambulance.svg' %}" alt="Image">
              <p></p>

              <p><a href="{% url 'test_map' %}" class="btn btn-primary">Testowanie</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="data">
              <img class="img-icon" src= "{% static 'images/svg/019-laboratory.svg' %}" alt="Image">
              <p></p>

              <p><a href="{% url 'hosp_map' %}" class="btn btn-primary">Hospitalizacje</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container pb-5">
      <div class="row mb-3">
        <div class="col-lg-7 text-center mx-auto">
          <h2 class="section-heading">Eksploruj dane na dla poszczególnych regionów</h2>
          <p>Dokładne dane epidemiczne dla każdego z regionów</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="feature-v1 d-flex align-items-center">
            <div>
              <span class="d-block"><a href="#" class="btn btn-primary">Dolnośląskie</a></span>
            </div>
          </div>
          <div class="feature-v1 d-flex align-items-center">
            <div>
              <span class="d-block"><a href="#" class="btn btn-primary">Kujawsko-Pomorskie</a></span>
            </div>
          </div>
          <div class="feature-v1 d-flex align-items-center">
            <div>
              <span class="d-block"><a href="#" class="btn btn-primary">Lubelskie</a></span>
            </div>
          </div>
        </div>






{%endblock%}